.discover-main-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}

.discover-main-section .covers-img {
  width: 30vw;
  margin-left: 2rem;
  height: auto;
  max-width: 350px;
}

.icon-section {
  display: flex;
}

.icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem;
  padding: 0.75rem;
  width: 90px;
  height: 90px;
  background-color: #202027;
  margin-bottom: 2rem;
  cursor: pointer;
  transition: transform 0.3s ease;
  border-radius: 3px;
}

.icon img {
  width: 40px;
}

.icon:hover {
  transform: scale(1.1);
}

/* Animation for title in Discover page  */
@keyframes spotlight-left {
  0% {
    -webkit-clip-path: ellipse(100px 100px at 0% 10%);
    clip-path: ellipse(100px 100px at 0% 10%);
  }
  50% {
    -webkit-clip-path: ellipse(100px 100px at 100% 100%);
    clip-path: ellipse(100px 100px at 100% 100%);
  }
  100% {
    -webkit-clip-path: ellipse(100px 100px at 0% 10%);
    clip-path: ellipse(100px 100px at 0% 10%);
  }
}

@keyframes spotlight-right {
  0% {
    -webkit-clip-path: ellipse(100px 100px at 100% 10%);
    clip-path: ellipse(100px 100px at 100% 10%);
  }
  50% {
    -webkit-clip-path: ellipse(100px 100px at 0% 50%);
    clip-path: ellipse(100px 100px at 0% 10 50%);
  }
  100% {
    -webkit-clip-path: ellipse(100px 100px at 100% 10%);
    clip-path: ellipse(100px 100px at 100% 10%);
  }
}

@media (max-width: 800px) {
  .discover-main-section {
    flex-direction: column;
    justify-content: center;
  }

  .discover-main-section .covers-img {
    margin-top: 2rem;
    height: 30vh;
    width: auto;
  }
}

@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) {
  .icon-section {
    justify-content: space-around;
  }
  .discover-main-section .covers-img {
    margin: 0 0 20px 0;
  }
}
