.join-main-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}

.join-text {
  font-size: 3.5em;
  font-weight: bold;
  margin: 0;
  cursor: pointer;
}
.join-text p {
  display: inline-block;
}
p.m-left {
  margin-left: -15px;
}

p:hover {
  color: #48cfad;
  transition: all 0.5s;
}

p.accent-text {
  color: #ed5565;
}

.join-form {
  background-color: #202027;
  width: 50vw;
  max-width: 50%;
  padding: 2rem 4rem;
  border-radius: 20px;
}

.input-group {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
}

.input-group:last-child {
  margin-bottom: 0;
}

.input-group label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.input-group input {
  outline: none;
  background: none;
  border: 1px solid #2e3852;
  font-size: 1em;
  padding: 0.5em;
  color: inherit;
  border-radius: 5px;
}

.input-group input:focus {
  border-color: #596da0;
}

@media (max-width: 900px) {
  .join-main-section {
    flex-direction: column;
    justify-content: center;
  }

  .join-form {
    width: 80vw;
    max-width: inherit;
    margin: 2rem 0;
  }
}

.join-page-circle1 {
  position: absolute;
  overflow: hidden;
  width: 20vw;
  height: 20vw;
  bottom: 0;
  left: 0;
  z-index: -1;
  animation: bigScale 3s infinite ease-in-out;
}

.join-page-circle1::before {
  content: "";
  transform: translateX(-20%);
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background-color: rgba(188, 58, 128, 0.1);
}

@keyframes bigScale {
  0% {
    width: 20vw;
    height: 20vw;
  }
  50% {
    width: 25vw;
    height: 25vw;
  }
  100% {
    width: 20vw;
    height: 20vw;
  }
}

.join-page-circle2 {
  position: absolute;
  overflow: hidden;
  width: 15vw;
  height: 15vw;
  top: 0;
  left: 20vw;
  z-index: -1;
  animation: smallScale infinite ease-in-out;
  animation-duration: 3s;
  animation-delay: 0.5s;
}

.join-page-circle2::before {
  content: "";
  transform: translateY(-30%);
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background: rgba(52, 87, 178, 0.1);
}

@keyframes smallScale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

@media (max-width: 900px) {
  .join-main-section {
    flex-direction: column;
    justify-content: center;
  }

  .join-form {
    width: 80vw;
    max-width: inherit;
    margin: 2rem 0;
  }
}

@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) {
  .join-text {
    text-align: center;
    line-height: 4.5rem;
  }
  .join-page-circle1 {
    width: 30vw;
    height: 30vw;
    bottom: 10vh;
    left: 10vw;
  }
  @keyframes bigScale {
    0% {
      transform: scale(2);
    }
    50% {
      transform: scale(2.5);
    }
    100% {
      transform: scale(2);
    }
  }
  .join-page-circle2 {
    top: 0;
    left: 30vw;
  }
  @keyframes smallScale {
    0% {
      transform: scale(2);
    }
    50% {
      transform: scale(2.5);
    }
    100% {
      transform: scale(2);
    }
  }
}
